[Desktop Entry]
Type=Application
Name=Synterra Hub
Comment=Set up and explore Synterra 1.1 Build 1130
Exec=synterra-hub
Icon=synterra
Categories=Settings;System;
StartupNotify=true
