[Desktop Entry]
Type=Application
Name=Install Synterra
Comment=Guided installation of Synterra 1.1 Build 1105 (Prism)
Exec=synterra-install
Icon=synterra
Categories=System;
StartupNotify=true
