[Desktop Entry]
Name=Synterra Glass
Comment=Original Aero-inspired glass window frames
X-KDE-PluginInfo-Name=SynterraGlass
X-KDE-PluginInfo-Author=Synterra contributors
X-KDE-PluginInfo-Version=0.4.0
X-KDE-PluginInfo-License=MIT
