[Desktop Entry]
Name=Synterra Glass Dark
Comment=Original Aero-inspired glass window frames
X-KDE-PluginInfo-Name=SynterraGlassDark
X-KDE-PluginInfo-Author=Synterra contributors
X-KDE-PluginInfo-Version=1.1.0
X-KDE-PluginInfo-License=MIT
